@import "../../styles/basic.module";

.imgHover {
  & img {
    position: relative;
    transition-property: transform;
    transition-duration: 0.3s;
  }
  &:hover {
    & img {
      transform: scale(1.1, 1.1);
    }
  }
}

.loadMore {
  font-size: 12px;
  padding: 2px;
}

.footPage {
  font-size: 12px;
  & * {
    font-size: inherit;
  }
}

.imgCheck {
  @include mobile {
    width: 360px;
  }
}
